# 核心依赖
pypinyin==0.50.0
pandas==1.5.3
openpyxl==3.1.2
numpy==1.23.5
watchdog==3.0.0

# 图像处理（可选）
# opencv-python==4.8.0
Pillow==10.0.0
# scikit-image==0.22.0

# 音频处理（可选）
# librosa==0.10.0
mutagen==1.47.0

piexif==1.1.3